.counter-card {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__display {
    font-size: 50px;
    margin: 10%;
  }

  &__header {
    width: 100%;
    font-size: large;
    margin: 5%;
  }
  &__increment {
    height: 50px;
    width: 50px;
  }

  &__decrement {
    height: 50px;
    width: 50px;
  }
}
